*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d7e7eb;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100px;
    background-color: #9b59b6;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    color: #ecf0f1;
}
.logotip{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 960px;
}
.logo{
    border-radius: 150px;
    margin-left: 20px;
    margin-top: 10px;
    height: 80px;
}
.name{
    margin-right: 20px;
    justify-self: start;
    margin-top: 30px;
    font-size: 30px;
}
h2{
    text-align: center;
}
.Oformlenie{
    width: 100%;
    margin-top: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
nav{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 30px;
}
nav>a{
    margin-top: 5px;
    color: rgb(83, 0, 83);
}
a{
    text-decoration: none;
    font-size: large; 
}
#content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#hyperlinks{
    list-style-position: inside;
}
#tab{
    order: 2; 
}
table{
    border: 4px double black;
}
th{
    border: 1px solid black;
}
tr:nth-child(odd){
     background-color:#9b59b6; 
}
tr:nth-child(even){
    background-color: #3498db; 
}
footer{
    width: 100%;
    height: 100px;
    margin-top: 10px;
    background-color: #9b59b6;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
footer p{
    color: white;
    padding-top: 40px;
}
a:hover{
    color: #1ed306;
}
label{
    font-size: 30px;
}
p{
    font-size: large;
}
@media all and (orientation: landscape), (min-device-width: 700px){
    header{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        height: 65px;
        background-color: #9b59b6;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        color: #ecf0f1;
    }
    .logotip{
        display: flex;
        flex-direction: row;
        justify-content: start;
        width: 960px;
    }
    .logo{
        margin-top: 0;
        height: 60px;
    }
    .name{
        margin-top: 10px;
    }
    .Oformlenie{
        width: 960px;
    }
    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    nav>a{
        font-size: medium;
    }
    #tab{
        order: 0;
    }
    a{
        font-size: medium;
    }
    footer{
        height: 60px;
    }
    footer p{
        padding-top: 15px;
    }
    label{
        font-size: medium;
    }
    p{
        font-size: medium;
    }
}
